<mat-toolbar class="cor-principal header">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Projeto Locadora Paulista</span>
  <img src="https://seeklogo.com/images/S/sao-paulo-futebol-clube-logo-C5FC046703-seeklogo.com.png" width="3%" alt="sao_paulo"/>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
