.loading-indicator {
  text-align: center;
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  margin-top: 10px;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; // Ajuste conforme necessário
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mat-card-content {
  width: 100%;
}

.title {
  width: 100%;
}

.search-form {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px; // Adicione margem inferior para espaçamento
}

.titulos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; // Altere conforme necessário
}

.titulo-card {
  flex: 0 0 300px;
  margin: 10px;
}
